/* ---------------------- header ---------------------- */
header.desktop {
	height: 96px;
	background: #fff;
	padding-top: 35px;

	border-bottom: 1px solid #cdcdcd;
	.header-inner {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.part-logo {
		width: 22.5%;
		padding-right: $side-edge-d;
	}
	.part-menu {
		width: 64.5%;
		height: 100%;
		position: relative;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			top: -50px;
			bottom: 0px;
			width: 1px;
			background: #cdcdcd;
		}
		&:before {
			right: 0;
		}
		&:after {
			left: 0;
		}

		.menu-cont {
			height: 100%;
		}

		ul.main-menu {
			display: flex;
			height: 100%;
			align-items: flex-end;
			position: relative;
			> li {
				width: 20%;

				&:nth-last-child(2), &:nth-last-child(1) { 
					width: 10%;
				}
				&:nth-last-child(1) { 
					text-align: left;
				}

				> a {
					white-space: nowrap;
					display: inline-block;
					width: 100%;
					@include f-l;
					font-size: 16px;
					color: #000;
					padding: 0 15px;
					padding-bottom: 18px;
					border-bottom: 2px solid transparent;
					position: relative;
					bottom: -1px;
					z-index: 20;
					transition: 0.25s;

					&:hover {
						@include f-b;
						border-bottom: 2px solid #000;
					}
				}

				.sub-menu {
					visibility: hidden;
					opacity: 0;
					transition: 0.15s;
				}
				&.current_page_item {
					> a {
						@include f-b;
						border-bottom: 2px solid #000;
					}
				}

				&:hover {
					.sub-menu {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}

	.part-more {
		width: 12.9%;
		padding-left: $side-edge-d;
		position: relative;
		.part-top {
			position: absolute;
			top: -35px;
			display: flex;
			justify-content: flex-end;
			a {
				display: block;
				margin: 0 15px;
				@include f-l;
				font-size: 15px;
				color: #959595;
				white-space: nowrap;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}

				i {
					font-size: 18px;
					display: none;
				}
			}
		}

		.part-bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			a {
				display: block;
				margin: 0 15px;
				font-size: 0;
				&:last-child {
					margin-left: 0;
				}
			}
		}
	}

	@media only screen and (max-width : $lw) {
		height: 75px;
		padding-top: 18px;
		.part-logo {
			padding-right: $side-edge-l;
		}


		.part-more {
			padding-left: $side-edge-l;
			.part-top {
				top: -25px;
				a {
					margin-left: 8px;
					span {
						display: none;
					}
					i {
						display: block;
					}
				}
			}
		}
	}

	@media only screen and (max-width : $tw) {
		padding-top: 25px;
		.part-logo {
			img {
				width: 160px;
			}
		}
		.part-menu {
			ul.main-menu {
				> li {
					> a {
						font-size: 15px;
						padding: 0 10px;
						padding-bottom: 15px;
					}
				}
			}
		}
		.part-more {
			.part-top {
				a {
					margin: 0 10px;
					margin-left: 5px;
				}
			}

			.part-bottom {
				a {
					margin: 0px 10px;
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.part-menu {
			ul.main-menu {
				display: none;
			}
		}
	}

}

/* --------------------- /header ---------------------- */

/* ---------------------- header.mobile ---------------------- */
header.mobile {
	position: fixed;
	top: 0;
	height: 100%;
	pointer-events: none;
	left: 0;
	right: 0;
	z-index: 999;
	
	.header-inner {
		height: 55px;
		background: #fff;
		padding: 10px 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
		pointer-events: auto;
	}

	.part-logo {
		height: 100%;
		img {
			max-height: 100%;
		}
	}

	.tel {
		width: 50px;
		text-align: left;
	}
	.dropdown {
		pointer-events: auto;
		display: none;
		position: absolute;
		background: url("../images/index/bg-mobile-menu.jpg");
		background-size:  100% auto ;
		top: 55px;
		bottom: 0;
		overflow-y: scroll; 

		left: 0;
		right: 0;
		z-index: 99;
	}

	.search-box {
		border-bottom: 1px solid #fff;
		position: relative;
		input {
			background: none;
			border: none;
			outline: none;
			width: 100%;
			padding: 20px;

			@include f-r;
			font-size: 17px;
			color: #fff;
			@include placeholder-color(#fff);

			background: url("../images/icons/search-w.png") no-repeat left 20px center;
		}

		.button {
			position: absolute;
			left: 0;
			top: 0;
			height: 57px;
			width: 57px;
			background: transparent;
			cursor: pointer;
		}
	}

	.buttons {
		display: flex;
		.button {
			@include f-b;
			font-size: 14px;
			color: #000;
			background: #fff;
			width: 50%;
			padding: 25px;
			text-align: center;
			border-bottom: 1px solid #000;
			&:first-child {
				border-left: 1px solid #000;
			}
		}
	}

	.mobile-menu {
		.sub-menu {
			display: none;
		}
		> li {	
			border-bottom: 1px solid #fff;
			&:last-child {
				border-bottom: none;
			}

			&.menu-item-has-children {
				background: url("../images/icons/plus-w.png") no-repeat left 20px top 18px;
			}
			a {
				padding: 20px;
				@include f-r;
				font-size: 17px;
				color: #fff;
				display: inline-block; width: 100%;
			}

			> .sub-menu {
				li {
					border-bottom: 1px solid #72726b;
					&:last-child {
						border-bottom: none;
					}
					&.menu-item-has-children {
						background: url("../images/icons/plus-w.png") no-repeat left 24px top 10px;
						background-size: 13px;
					}
					a {
						padding: 10px;
						padding-right: 30px;
						@include f-l;
						font-size: 15px;
						color: #fff;
					}

					> .sub-menu {
						li {
							a {
								font-size: 14px;
								padding-right: 40px;
							}
						}
					}
				}

			}
		}
	}


}
/* --------------------- /header.mobile ---------------------- */





.sub-menu.extra-menu {
	padding: 40px;
	position: absolute;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 99;
	.cols {
		display: flex;
		.col {
			margin: 0 15px;
			flex-grow: 1;
			flex-basis: 0;
			.col-title {
				@include f-l;
				font-size: 55px;
				line-height: 0.9;
				color: #959595;
				padding: 8px 0;
				display: inline-block;
				transition: 0.5s;
				margin-bottom: 10px;
				height: 115px;

				display: flex;
				align-items: flex-end;
			}

			a.col-title {
				cursor: pointer;
				&:hover {
					color: #000;
				}
			}
			li {
				margin-top: 5px;
				a {
					@include f-l;
					font-size: 16px;
					color: #959595;
					transition: 0.5s;
					white-space: nowrap;
					&:hover {
						color: #000;
					}
				}
			}
			
		}
	}

	@media only screen and (max-width : 1600px) {
		 padding: 30px;
		 .cols {
		 	.col {
		 		.col-title {
		 			font-size: 40px;
		 			height: 95px;
		 		}
		 	}
		 }
	}

	@media only screen and (max-width : $lw) {
		margin-right: -30%;
		margin-left: -15%;
	}
}



/* ---------------------- Section top-index ---------------------- */
section.top-index {
	height: 840px;
	padding: 0;

	&.height-auto  {
		height: auto;
		.content {
			height: 100%;
			min-height: 840px;
			.bg {
				img {
					
				}
			}
		}
	}
	.inner {
		display: flex;
		align-items: stretch;
		height: 100%;
	}

	.panel {
		width: $side-edge-d;
		background: #fff;
		z-index: 10;
		max-height: 840px;
		.visible {
			height: 100%;
			transition: 0.5s;
			opacity: 1;
		}
		.part-top {
			height: 60%;
			text-align: center;
			position: relative;
			cursor: pointer;
			.button {
				position: absolute;
				left: 50%;
				top: 40%;
				transform: translateX(-50%);
				cursor: pointer;
				span {
					@include f-b;
					font-size: 18px;
					color: #000;
					white-space: nowrap;
					position: absolute;
					transform: rotate(90deg) translateX(135%) translateY(-10%);
					transform-origin: 100% 0%;
					bottom: 0;
				}
			}
		}

		.part-bottom {
			height: 20%;
			border-top: 1px solid #cdcdcd;
			border-bottom: 1px solid #cdcdcd;
		}

		&.open {	
			.panel-content {
				transform: translateX(0%);
				visibility: visible;
			}
		}
	}
	.panel-right {
		&.open {
			.visible {
				opacity: 0;
			}

		}
		.panel-content {
			right: 0;
			padding-right: $side-edge-d;
			transform: translateX(100%);
			border-left: 1px solid #cdcdcd;
			.content-inner {
				border-right: 1px solid #cdcdcd;

			}
		}
	}
	.panel-left {
		.part-top {
			.button {
				span {
					transform: rotate(-90deg) translateX(-25%) translateY(-108%);
				}
			}
		}
		.panel-content {
			left: 0;
			padding-left: $side-edge-d;
			transform: translateX(-100%);
			border-right: 1px solid #cdcdcd;
			width: 25.9%;
			.content-inner {
				border-left: 1px solid #cdcdcd;
			}
			.close {
				right: auto;
				left: 30px;
			}
			.close-mobile {
				left: auto;
				right: 0;
			}
		}
	}

	.social {
		display: flex;
		height: 100%;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}

	.panel-content {
		position: absolute;
		background: #fff;
		width: 22.55%;
		top: 0;
		bottom: 0;
		transition: 0.5s;
		visibility: hidden;
		border-bottom: 1px solid #cdcdcd;
		overflow-y: scroll; 
		overflow-x: hidden; 

		.close-mobile {
			position: absolute;
			left: 0px;
			width: 30px;
			top: 0;
			bottom: 0;
			background: rgba(0,0,0,0.75);
			@include flex-center;
			cursor: pointer;
			display: none;
		}
		.close {
			position: absolute;
			top: 30px;
			right: 30px;
			cursor: pointer;
		}

		.content-inner {
			height: 100%;
		}

		.header {
			padding: 30px;
			border-bottom: 1px solid #cdcdcd;
			.title {
				@include f-b;
				font-size: 18px;
				line-height: 1;
				color: #000;
			}
		}
		.info-top {
			.logos {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					margin: 0 10px;
				}
				margin-top: 25px;
			}

			.text {
				@include f-b;
				font-size: 18px;
				line-height: 1;
				color: #000;
				padding: 0 20px;
				p {
					margin-top: 25px;
				}
			}
		}

		.items {
			margin-top: 25px;
			
			.item {
				display: flex;
				align-items: center;
				padding: 30px 20px;
				border-bottom: 1px solid #cdcdcd;
				.icon {
					width: 80px;
					flex-shrink: 0;
					text-align: center;
				}
				.text {
					@include f-r;
					font-size: 16px;
					line-height: 1.2;
					color: #000;
					padding-right: 20px;
					.title {
						@include f-b;
						font-size: 18px;
						margin-bottom: 5px;
					}
				}
				.more {
					display: block;
					margin-top: 15px;
				}
			}
		}
	}

	.content {
		width: 100%;
		position: relative;

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			img {
				width: 100%;
				height: auto;
			}	
		}

	}

	

	.categories-menu {
		position: absolute;
		bottom: 96px;
		z-index: 3;
		right: 20.5%;
		left: 10.9%;
		border: 4px solid #fff;
		background: rgba(0,0,0,0.3);
		height: auto;

		.boxes {
			display: flex;

			.box {
				text-align: center;
				padding: 15px 0;
				padding-top: 25px;
				width: 18.9%;
				cursor: pointer;
				transition: 0.5s;
				background: transparent;
				&:hover {
					background: #FFBE4D;
				}
				&:first-child, &:last-child {
					width: 21.65%;
				}
				.icon {
					height: 145px;
					width: 100%;
					img {
						width: 100%;
						position: relative;	
					}
				}

				.text {
					@include f-b;
					font-size: 22px;
					color: #fff;
				}

				&:nth-child(2) .icon img {
					top: 0.3vw;
				}
				&:nth-child(3) .icon img {
					top: 0.36vw;
				}
				&:nth-child(4) .icon img {
					top: 2.48vw;
				}
				&:nth-child(5) .icon img {
					top: 0.5vw;
				}
			}
		}
	}

	@media only screen and (max-width : 1600px) {
		.panel-content {
		    width: 35.4%;
		}
		.panel-left {
			.panel-content {
			    width: 38.8%;
			}
		}
		.content {
		 	background-size:  auto  100%;
		 	.bg {
		 		img {
		 			height: 100%;
		 			width: auto;
		 		}
		 	}
		}
	}

	@media only screen and (max-width : $lw) {
		height: 700px;
		&.height-auto  {
			.content {
				min-height: 700px;
			}
		}
		.panel {
			width: $side-edge-l;
		}
		.panel-right {
			.panel-content {
				padding-right: $side-edge-l;
			}
		}
		.panel-left {
			.panel-content {
				padding-left: $side-edge-l;
				.close {
					left: 17px;
				}
			}
		}
		.panel-content {
			.close {
				right: 17px;
				top: 17px;
			}
			.header {
				padding: 15px 20px;
			}
			.info-top {
				.logos {
					margin-top: 15px;
				}
				.text {
					p {
						margin-top: 15px;
					}
				}
			}
			.items {
				margin-top: 15px;
				.item {
					padding: 20px 10px;
				}

			}

		}
	}

	@media only screen and (max-width : $tw) {
		.categories-menu {
			.boxes {
				.box {
					.icon {
    					height: 90px;
    				}
    			}
    		}
    	}
	}

	@media only screen and (max-width : $mw) {
		height: auto;
		&.height-auto  {
			.content {
				min-height: 0px;
			}
		}
		.panel {
			width: 0;
			.visible {
				display: none;
			}
		}
		.panel-content {
		    width: 100%;
		    .close {
		    	display: none;
		    }
		    .close-mobile {
		    	display: flex;
		    }
		}
		.panel-left {
			.panel-content {
			    width: 100%;
			    padding-right: $side-edge-m;
				padding-left: 0;
			}
		}

		.panel-right {
			.panel-content {
				padding-right: 0;
				padding-left: $side-edge-m;
			}
		}

		.inner {
			flex-wrap: wrap;
		}
		.content {
			.bg {
				position: static;
				width: 100%;
				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.categories-menu {
			position: static;
			width: 100%;
			border: none;
			background: url("../images/index/bg-mobile-menu.jpg");
			background-size:  100% auto ;
			border-top: 2px solid #fff;
			.boxes {
				flex-wrap: wrap;
				.box {
					width: 100% !important;
					border-bottom: 1px solid #fff;
					.icon {
						width: 100%;
						text-align: center;
						height: auto;
						img {
							width: auto;
							position: static;
							max-width: 200px;
						}
					}

					.text {
						margin-top: 15px;
					}
				}
			}


		}
	}

}
/* --------------------- /Section top-index ---------------------- */

/* ---------------------- .content-category-inner ---------------------- */
section.top-index .content-category-inner {
	padding-right: 22.5%;
	margin-right: -40px;
	padding-left: 12.9%;
	margin-left: -54px;
	padding-top: 15px;
	padding-bottom: 35px;

	&.has-sidebar {
		display: flex;
		padding-right: 0;
		margin-right: 0;
	}

	.sidebar {
		width: 22.5%;
		flex-shrink: 0;
		z-index: 3;
		padding: 40px;
		padding-top: 0px;
		.title-main {
			@include f-b;
			font-size: 37px;
			color: #000;
			height: 211px;
			padding-top: 80px;
		}

		&.projects {
			.title-main {
				height: 120px;
			}
		}
	}

	.title-mobile {
		@include f-b;
		font-size: 24px;
		color: #000;
		padding: 30px;
		padding-top: 0;
		padding-bottom: 25px;
	}
	.sidebar.mobile {
		display: none;
		&.projects {
			.subcat-selector {
				margin-top: 0;	
			}
		}
	}

	.main {
		width: 100%;
	}

	.search {
		z-index: 9;
    	position: relative;
    	padding: 30px 0;
		input {
			@include f-l;
			font-size: 64px;
			color: #959595;
			padding: 13px;
			background: none;
			outline: none;
			border: none;
			border-bottom: 1px solid #959595;
			display: block;
			width: 100%;
		}

		.results-count {
			@include f-r;
			font-size: 16px;
			color: #000;
			margin-top: 40px;
		}

		@media only screen and (max-width : $mw) {
			padding: 10px;
			padding-bottom: 25px;
			input {
				font-size: 35px;
			}
			.results-count {
				margin-top: 20px;
			}
		}

	}


	.search-box {
		border-bottom: 1px solid #959595;
		input {
			background: none;
			border: none;
			outline: none;
			width: 100%;
			padding: 10px;

			@include f-r;
			font-size: 16px;
			color: #959595;
			@include placeholder-color(#959595);

			background: url("../images/icons/search.png") no-repeat left  center;
		}
	}

	.wishlist-items {
		margin-top: 50px;

		.main-title {
			display: flex;
			align-items: center;

			border-bottom: 1px solid #000;
			padding: 13px 10px;
			line-height: 1;
			.main {
				@include f-b;
				font-size: 19px;
				color: #000;
			}

			.desc {
				@include f-b;
				font-size: 13px;
				color: #000;
				white-space: nowrap;
				margin-right: 10px;
			}
		}

		.items {
			.item {
				color: #000;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #000;
				padding: 13px 10px;
				padding-left: 0;
				.title {
					@include f-r;
					font-size: 16px;
					margin-left: 10px;
				}
				.sku {
					@include f-r;
					font-size: 11px;
					margin-left: 10px;
				}
				.q {
					@include f-r;
					font-size: 11px;
					margin-left: 10px;
				}
				.remove {
					position: relative;
					height: 15px;
					width: 15px;
					@include flex-center;
					cursor: pointer;
					&:after {
						content: "";
						display: block;
						width: 10px;
						height: 1px;
						background-color: #000;
					}
				}
			}
		}
	}

	.wpcf7 {
		margin-top: 16px;
		form {
			display: flex;
			align-items: center;
			justify-content: space-between;
			input[type="submit"] {
				@include f-r;
				font-size: 14px;
				color: #fff;
				background: #000;
				border: none;
				outline: none;
				padding: 13px 23px;
			}

			.wpcf7-form-control {
				@include f-r;
				font-size: 14px;
				color: #000;
			}

			.wpcf7-response-output {
			    bottom: -15px;
			}
		}
	}

	.filter-toggle {
		@include f-b;
		font-size: 18px;
		color: #fff;
		background: #000;
		padding: 10px 30px;
		display: flex;
		margin-bottom: 25px;
		span {
			flex-grow: 1;
			text-align: center;
		}
	}

	.dropdown-selector {
		margin-top: 20px;
		background: transparent;
		position: relative;
		border: 1px solid #000;
		.title {
			height: 40px;
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;
			@include f-b;
			font-size: 19px;
			color: #000;
		
			&:before {
			    content: "\f107";
			    font-family: FontAwesome;
			    position: absolute;
			    left: 10px;
			    top: 50%;
			    transform: translateY(-50%);
			    font-size: 22px;
			    transition: 0.5s;
			}

		}
		.dropdown {
			width: 100%;
			padding: 5px 0;
			display: none;
			.item {
				span {
					@include f-r;
					font-size: 16px;
				}
				&.active {
    				background: #000;
    				span {
    					color: #fff;
    				}
				}
			}
		}

		.item {
			display: flex;
			padding: 5px 12px;
			cursor: pointer;
			span {
				@include f-b;
				font-size: 19px;
				color: #000;
			}

			
		}
	}

	.subcat-selector {
		margin-top: 40px;
		.item {
			cursor: pointer;
			padding: 12px;
			@include f-r;
			font-size: 16px;
			color: #000;
			
			transition: 0.5s;

			border-bottom: 1px solid #000;
			&:first-child {
				border-top: 1px solid #000;
			}

			&.active {
				background: #000;
				color: #fff;
			}
			&:hover {
				opacity: 0.5;
			}
		}
	}

	.parameters-selector {
		margin-top: 20px;
		border-bottom: 1px solid #000;
		padding: 12px;

		.items {
			margin-top: 10px;
			.item {
				@include f-r;
				font-size: 14px;
				color: #000;
				padding: 5px;
				padding-right: 20px;
				position: relative;
				cursor: pointer;
				transition: 0.25s;
				&:before {
					content: "";
					position: absolute;
					display: block;
					top: 6px;
					right: 0;
					height: 11px;
					width: 11px;
					border: 1px solid #000;
					border-radius: 100%;
					transition: 0.5s;
					background: transparent;
				}

				&:hover {
					opacity: 0.5;
				}

				&.active {
					&:before {
						background: #333;
					}
				}
			}
		}
		
	}

	.categories-menu {
		position: relative;
		bottom: auto;
		right: auto;
		left: auto;
		background: none;
		border: none;
		&.dark-icons {
			.boxes {
				.box {
					.icon, .text {
						transition: 0.5s;
						filter: brightness(0.8);
					}
				}
			}
		}
		.boxes {
			.box {
				.icon, .text {
					transition: 0.5s;
				}

				&:nth-child(4) {
					.icon {
						
						img {
		   					top: 2.34vw;
		   				}
		   			}
		   		}

		   		&:hover, &.active  {
		   			background: none;
		   			.icon {
		   				filter: brightness(0);
		   			}
		   			.text {
		   				color: #000;
		   			}
		   		}
		   	}
		}
	}

	.categories {
		position: relative;
		z-index: 3;
		
		//overflow-y: scroll;
		//overflow-x: hidden;
		margin-top: 20px;
		width: 100%;

		&.wishlist {
			.boxes {
				.box {
					cursor: default;
				}

				
			}
		}
		&.products {
			.boxes {
				.box {
					.inner {
						padding: 15px;
					}
					&:hover {
						.inner {
							background: #fff;
							.icon {
								filter: none;
								transform: scale(1.2);
							}
							.text {
								color: #95A43A;
							}
						}
					}
				}
			}
		}
		&.projects {
			.boxes {
				.box {
					width: 25%;
					.inner {
						padding: 0;
					}
					.icon {
						height: 184px;
						width: auto;
						overflow: hidden;
						position: relative;
						@include flex-center;
						img {
							width: 100%;
							height: auto;
							max-width: none;
							transition: 0.5s;

							@media only screen and (max-width : 1750px) {
								 height: 100%;
								width: auto;
							}
						}
					}
					.text {
						padding: 20px;
						margin: 0;
					}

					&:hover {
						.inner {
							.icon {
								filter: none;
								transform: none;
								img {
									transform: scale(1.2);
								}
							}
							.text {
								color: #95A43A;
							}
						}
					}
				}
			}
		}
		.boxes {
			display: flex;
			flex-wrap: wrap;
			font-size: 0;
			margin: -8px;
			
			.box {
				width: 20%;
				margin: 0;
				padding: 8px;
				display: block;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				.inner {
					display: block;
					overflow: hidden;
					position: relative;
					background: #fff;
					padding: 20px;
					transition: 0.5s;
				}
				.buttons {
					width: 100%;
					height: 20px;
					display: flex;
					justify-content: space-between;
					text-align: center;
					position: relative;
					z-index: 9;
					.button {
						cursor: pointer;
						.wpulike {
							display: none !important; 
						}
					}
					span, img {
						display: block;
						margin: auto;
					}
					span {
						margin-top: 5px;
					}
					@include f-r;
					font-size: 7px;
					color: #2B2E34;
				}
				.icon {
					text-align: center;
					width: 100%;
					height: 90px;
					transition: 0.5s;
					img {
						max-width: 100%;
						max-height: 100%;
						margin: auto;
					}
				}
		
				.text {
					transition: 0.5s;
					@include f-r;
					font-size: 20px;
					color: #000;
					margin-top: 25px;
					text-align: center;
					span {
						display: block;
					}

					.desc {
						@include f-l;
						font-size: 15px;
						margin-top: 5px;
					}
				}

				&:hover {
					.inner {
						background: #000;
						.icon {
							filter: brightness(0) invert(1);
						}
						.text {
							color: #fff;
						}
					}
				}
			}
		}
	}
	.slider-cats {
		width: 100%;
		padding-bottom: 50px;
		.swiper-button-prev, .swiper-button-next {
			&:after {
		   	 	content: '';
		   	}
		   	outline: none;
		}

		.swiper-button-prev {
			right: 10px;
		}
		.swiper-button-next {
			left: 10px;
		}
		.swiper-slide {
			text-align: center;

			.box {
				padding: 15px 0;
				width: 100%;
				.icon {
					height: 145px;
					filter: brightness(0);
					img {
						max-width: 100%;
						position: relative;	
					}
				}

				.text {
					@include f-b;
					font-size: 22px;
					color: #000;
				}
			}
		}
	}

	@media only screen and (max-width : $lw) {
		margin-right: -26px;
		margin-left: -36px;
		.categories-menu {
			.boxes {
				.box {
					.icon {
						height: 100px;
					}
				}
			}
		}

		.categories {
			margin-top: 15px;
			.boxes {
				.box {
					.icon {
						height: 70px;
					}
					.text {
						font-size: 18px;
					}
				}
			}

			&.projects {
				.boxes {
					.box {
						.icon {
							height: 135px;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width : $tw) {
		.categories-menu {
			.boxes {
				.box {
					.icon {
						height: 90px;
					}
					.text {
						font-size: 18px;
						white-space: nowrap;
					}
				}
			}
		}

		.sidebar {
			.title-main {
				font-size: 26px;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		padding-right: 0;
		margin-right: 0;
		padding-left: 0;
		margin-left: 0;
		height: auto;
		padding-bottom: 10px;
		&.has-sidebar {
			display: block;
		}
		&.mobile-column-reverse {
			display: flex;
			flex-direction: column-reverse;
		}
		.sidebar {
			width: 100%;
			padding: 0px 10px;
			padding-bottom: 35px;
		}

		.dropdown-selector {
			margin-top: 0;
			.title {
				height: 30px;
				font-size: 16px;
				.item {
					span {
						font-size: 16px;
					}
				}
			}
		}

		.subcat-selector {
			margin-top: 20px;
			.item {
				padding: 8px;
				font-size: 15px;
			}
		}

		.parameters-selector {
			margin-top: 10px;
			padding: 8px;
			.items {
				display: flex;
				flex-wrap: wrap;
				.item {
					padding-right: 5px;
					font-size: 12px;
					color: #fff;
					margin: 4px;
					background: #959595;
					&:before {
						content: none;
					}
					&:hover {
						opacity: 1;
					}
					&.active {
						background: #000;
					}
				}
			}
		}
		.categories {
			margin: 0;
			.boxes {
				.box {
					padding: 0;
					width: 33.333%;
					border: 1px solid #dadada;
					.inner {
						padding: 15px;
					}
					.icon {
						height: 50px;
					}
					.text {
						font-size: 15px;
					}
				}
			}

			&.projects {
				.boxes {
					.box {
						width: 50%;
						.icon {
							height: 130px;
						}
						.text {
							padding: 10px;
						}
					}
				}
			}

			&.wishlist {
				.boxes {
					.box {
						width: 50%;
					}
				}
			}
		}
	}

}
/* --------------------- /.content-category-inner ---------------------- */



/* ---------------------- .content-forms ---------------------- */
.content-forms {
	position: relative;
	z-index: 9;
	background: #fff;
	margin-top: -15px;
	padding: 50px;

	&.reg-complete {
		margin-top: 100px;
		.info {
			@include f-l;
			font-size: 64px;
			color: #959595;
		}

		@media only screen and (max-width : $mw) {
			margin-top: 10px;
			.info {
				font-size: 35px;
			}
		}
	}

	.form-title {
		@include f-b;
		font-size: 18px;
		color: #000;
	}

	.form-divider {
		height: 1px;
		background: #959595;
		margin: 30px -50px;
	}
	.um.um-login {
		margin-right: 0 !important;
		.um-notice {
			display: none;
		}
		.um-col-alt {
			a {
				display: none;
			}
		}
	}

	.um.um-register {
		.um-col-alt {
			a {
				display: none;
			}
		}
	}
	.um-field-label {
		display: none;
	}

	.um-field-checkbox {
		.um-field-label {
			display: block;
			background: #F4F4F4;
			margin-bottom: 0;
			padding: 12px 16px;
		}
		.um-field-area {
			background: #F4F4F4;
			padding: 12px 16px;
			padding-top: 0;
		}
		.um-field-checkbox:not(.um-field), .um-field-radio:not(.um-field) {
			margin: 0 0;
		}
	}
	.um {
		.um-form input[type=text], .um-form input[type=search], .um-form input[type=tel], .um-form input[type=number], .um-form input[type=password] {
			&, &:focus {
				border: none !important;
				outline: none !important;
				background: #F4F4F4 !important;
				@include f-r;
				font-size: 16px;
				padding: 12px 16px !important;
				width: 100%;
				@include placeholder-color(#2B2E34);
				height: auto !important;
				text-align: right !important;
			}
		}

		.select2.select2-container .select2-selection {
			border: none !important;
			background: #F4F4F4 !important;
			outline: none !important;
			text-align: right !important;
			@include f-r;
			font-size: 16px;
			@include placeholder-color(#2B2E34);
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
    		padding-left: 20px;
    		padding-right: 0 !important;
    	}

		.select2.select2-container .select2-selection .select2-selection__arrow {
			right: auto !important;
			left: 0;
		}
		.select2-container--default .select2-selection--single .select2-selection__clear {
			right: 0 !important;
		}

		input[type=submit].um-button, input[type=submit].um-button:focus {
			background: #F4F4F4;
			color: #2B2E34;
		}
	}

	@media only screen and (max-width : $mw) {
		padding: 20px;
		._um_row_1 {
			display: flex;
			flex-direction: column-reverse;
		}
		.um-col-121, .um-col-122 {
		    float: none;
		    width: 100%;
		}
	}
}
/* --------------------- /.content-forms ---------------------- */



/* ---------------------- Section product-home ---------------------- */
section.product-home {
	padding: 200px 0;

	.parts {
		display: flex;
		position: relative;
		z-index: 10;
		align-items: stretch;
		.part {
			width: 12.9%;
			&:first-child {
				width: 22.5%;
				padding-right: $side-edge-d;
				padding-left: $side-edge-d;
			}
			&:nth-child(2) {
				width: 25.8%;
			}
		}
	}

	.wrapper-title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding-top: 15px;
		.title {
			@include f-b;
			font-size: 37px;
			line-height: 1;
			color: #000;
		}

		.sku {
			@include f-b;
			font-size: 14px;
			color: #000;
		}
		.size {
			@include f-r;
			font-size: 14px;
			color: #000;
			line-height: 1.2;
			margin-top: 5px;
		}
	}

	.image {
		background: #FFBE4D;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 90px 0;
		height: 100%;
		position: relative;
		img {
			max-width: 134%;
			height: auto;
		}

		&:after {
			content: "";
			position: absolute;
			display: block;
			background-color: #9B9B9B;
			width: 65px;
			height: 8px;
			bottom: -8px;
			right: 0;
		}
	}

	.description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding-right: 40px;
		padding-left: 15px;
		padding-top: 15px;

		.part-top {
			margin-left: -50px;
			p {
				@include f-b;
				font-size: 24px;
				line-height: 1.2;
				color: #000;
			}
		}
		
		img {
			margin-top: 10px;
		}

		.desc {
			@include f-r;
			font-size: 14px;
			color: #000;	
			margin-top: 20px;
		}

		.button {
			display: none;
		}
	}

	.wrapper-more {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		padding: 0 40px;
	}
	.wrapper-thumb {
		font-size: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;

		.thumb {
			width: 100%;
			background: #FFBE4D;
			img {
				width: 100%;
			}
		}
	}

	@media only screen and (max-width : $lw) {
		padding: 150px 0;
		.parts {
			.part {
				&:first-child {
					padding-right: $side-edge-l;
					padding-left: $side-edge-l;
				}
			}
		}
	}

	@media only screen and (max-width : $tw) {
		padding: 100px 0;
		.parts {
			.part {
				&:nth-child(3) {
					width: 25.8%;
				}
				&:nth-child(4) {
					display: none;
				}
			}
		}
		.wrapper-title {
			.title {
				font-size: 30px;

			}
		}
		.description {
			.button {
				display: block;
			}
		}
	}
}
/* --------------------- /Section product-home ---------------------- */

/* ---------------------- Section factory ---------------------- */
section.factory {
	padding: 90px 0;

	.parts {
		display: flex;
		position: relative;
		z-index: 10;
		align-items: stretch;
		.part {
			position: relative;
			&:first-child {
				width: 22.5%;
				padding-right: $side-edge-d;
				padding-left: $side-edge-d;
			}
			&:nth-child(2) {
				width: 77.5%;
			}
		}
	}

	&.smaller-image {
		.parts {
			.part {
				&:nth-child(2) {
					width: 51.6%;
				}
			}
		}
		.image {
			&:after {
				content: none;
			}
		}
	}

	&.project {
		.image {
			margin-top: 55px;
			img {
				width: auto;
				max-width: 100%;
			}
			&:first-child {
				margin-top: 0;
			}
			&:after {
				content: none;
			}
		}

		.wrapper-content {
			justify-content: flex-start;
		}
	}

	.wrapper-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding-top: 15px;
		.title {
			@include f-b;
			font-size: 37px;
			line-height: 1;
			color: #000;
		}

		.subtitle {
			@include f-r;
			font-size: 23px;
			color: #000;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.description {
			@include f-r;
			font-size: 14px;
			color: #000;
			padding-left: 10px;
			p {
				margin-top: 15px;
			}
		}
	}

	.more {
		display: block;
		position: absolute;
		bottom: 0;
		left: 20px;
	}

	.image {
		font-size: 0;
		position: relative;
		img {
			width: 100%;
		}

		&:after {
			content: "";
			position: absolute;
			display: block;
			background-color: #FFBE4D;
			width: 340px;
			height: 8px;
			bottom: -8px;
			right: 0;
		}
	}

	.content {
		@include f-r;
		font-size: 14px;
		color: #000;
		padding-left: 10px;
		p {
			margin-top: 15px;
		}
	}

	@media only screen and (max-width : $lw) {
		.parts {
			.part {
				&:first-child {
					padding-right: $side-edge-l;
					padding-left: $side-edge-l;
				}
			}
		}

		.more {
			position: static;
			margin-top: 25px;
			display: inline-block;
		}
	}

	@media only screen and (max-width : $tw) {
		.parts {
			.part {
				&:first-child {
					width: 35.4%;
				}
				&:nth-child(2) {
					width: 64.5%;
				}
			}
		}
		.wrapper-content {
			.title {
				font-size: 30px;
			}
			.subtitle {
				font-size: 18px;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		padding: 35px 0;
		&.project {
			.image {
				margin-top: 25px;
				&:first-child {
					margin-top: 0;
				}
			}
		}

		.parts {
			flex-wrap: wrap;
			.part {
				&:first-child {
					padding-right: $side-edge-m;
					padding-left: $side-edge-m;
					width: 100%;
				}
				&:nth-child(2) {
					width: 100% !important;
					margin-top: 25px;
				}

			}
		}
	}
}
/* --------------------- /Section factory ---------------------- */

.wpcf7 {
	position: relative;
	span[role="alert"] {
		@include f-r;
		font-size: 13px;
		color: #ea1313;
		position: absolute;
		
    	left: 2px;
   		bottom: 2px;

	}
	.wpcf7-response-output {
		@include f-r;
		font-size: 13px;
		color: #ea1313;
		position: absolute;
		
		bottom: -5px;
		border: none !important;
		padding: 0 !important;
		margin: 0 !important;

	}
	.ajax-loader {
		display: none;
	}
}
/* ---------------------- footer ---------------------- */
footer {
	padding: 20px $side-edge-d;
	border-top: 1px solid #cdcdcd;
	.inner {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin: 0 -1%;
	}

	.part {
		@include f-r;
		font-size: 14px;
		color: #000;
		margin: 0 1%;
	}

	.logo {
		p {
			margin-top: 25px;
		}
	}

	.title {
		@include f-b;
		font-size: 25px;
	}

	.wpcf7 {
		form {
			display: flex;
			align-items: flex-end;
		}

		input {
			@include f-r;
			font-size: 14px;
			border: none;
			color: #000000;
			@include placeholder-color(#000);
			border-bottom: 1px solid #000;
			
			background: none;
			outline: none;
			padding: 5px 0;
			width: 100%;


			&:focus {
				@include placeholder-color(#333);
				color: #333;
			}
		}
		.wpcf7-form-control-wrap {
			display: block;
			position: relative;
		
		}
		input[type="submit"] {

			background: transparent;
			padding: 10px 15px;
			border: 1px solid #000;

			text-align: center;
			transition: 0.5s;
			display: inline-block;
			cursor: pointer;   
			width: 120px;
			margin-right: 20px;
		
			&:hover {
				background-color: #d4d4d4;
			}
		}

		.wpcf7-response-output {
			display: none !important;
		}
	}

	.links {
		margin: 0 -10px;
		a {
			display: inline-block;
			margin: 0 10px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.social {
		display: flex;
		align-items: center;

		.desc {
			text-decoration: underline;
			margin-left: 20px;
		}

		a {
			margin: 0 10px;
			img {
				height: 20px;
			}
			&.text {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	@media only screen and (max-width : $lw) {
		padding: 20px $side-edge-l;
	}
	@media only screen and (max-width : $tw) {
		padding: 20px $side-edge-t;
		.logo {
			img {
				display: none;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		
		.inner {
			flex-wrap: wrap;
			align-items: center;
		}

		.logo {
			p {
				margin-top: 0;
			}
		}
		.part {
			order: 2;
			width: 45%;
			margin: 15px 1%;
		}
		.part.form {
			width: 100%;
			flex-grow: 1;
			padding: 20px 30px;
			margin: -20px -30px;
			margin-bottom: 10px;
			order: 1;

			background: #000;
			color: #fff;

			.wpcf7 {
				margin-top: 20px;
				input {
					color: #fff;
					@include placeholder-color(#fff);
					border-bottom: 1px solid #fff;
				}

				input[type="submit"] {
					border: 1px solid #fff;
				}
			}
		}

		.part.copyright {
			border-top: 1px solid #000;
			width: 100%;
			flex-grow: 1;
			padding: 20px 30px;
			margin: -20px -30px;
			margin-top: 20px;
			text-align: center;
		}
		
	}
}
/* --------------------- /footer ---------------------- */