.btn {
	@include f-b;
	font-size: 18px;
	color: #fff;
	display: inline-block;
	padding: 15px 30px;
	background-image: linear-gradient(to top, #fff 50%, transparent 50%);
	background-position: top;
	background-size: 100% 200%;
	min-width: 150px;
	cursor: pointer;

	transition: background-position 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;;
	text-align: center;
	border: 2px solid #85B8E7;
	&:hover {
		color: #283786;
		border: 2px solid #fff;
		background-position: bottom;
	}

	&.white {
		background-image: linear-gradient(to top, #34454E 50%, transparent 50%);
		color: #34454E;
		&:hover {
			color: #fff;
			border: 2px solid #34454E;
			background-position: bottom;
		}
	}

	@media only screen and (max-width : $mw) {
		font-size: 16px;
		padding: 15px 20px;
		min-width: 100px;
	}
}

.section-title {
	@include f-b;
	font-size: 36px;
	color: #283786;
	text-align: center;

	@media only screen and (max-width : $tw) {
		font-size: 30px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 25px;
	}
}
.section-subtitle {
	@include f-r;
	font-size: 18px;
	color: #252A39;
	text-align: center;
	margin-top: 10px;
	@media only screen and (max-width : $tw) {
		font-size: 18px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 16px;
	}
}


.play-button {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 100px;
	width: 100px;
	background: rgba(255,255,255,0.8);
	border-radius: 100%;
	z-index: 3;
	cursor: pointer;

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: #283786;
		font-size: 35px;
		transition: 0.5s;
	}
	&:hover {
		i {
			color: #CF212A;
		}
	}
}


.grid {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	pointer-events: none;
	div {
		width: 12.9%;
		border-right: 1px solid #cdcdcd;
		&:first-child {
			width: 22.5%;
			border-right: none;
		}
	}
}

/* ----------------- mobile menu -------------------- */
#sm_menu_ham {
	float: left;
	right: auto;
	top: 11px;
	left: 7px;
	span {
		background-color: #227BC9;
		height: 3px;
	}
}

.sm_menu_outer {
	background: #227BC9;
	&.slide .mobile_menu .sub-menu {
		background: #227BC9;
	}
	.mobile_menu {
		li {
			    border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0;
		}
		a {
			@include f-r;
			 padding: 15px 15px;
		}
		.current_page_item {
			>a {
				@include f-b;
			}
		}
	}
}

.sm_menu_outer.slide .mobile_menu li.hasChild > a {
    background: url(../plugins/mmenu/images/next.png) no-repeat scroll 10px center / 5% auto;
}

.sm_menu_outer .mobile_menu li.back a {
    padding: 20px 45px 20px 5px;
    background: url(../plugins/mmenu/images/back.png) no-repeat scroll right 15px center / 5% auto;
}

.sm_menu_outer {
    bottom: 0;
    height: auto;
    top: 45px;
}
/* ----------------- /mobile menu -------------------- */



.hamburger {
	padding: 5px 5px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.hamburger:hover {
	opacity: 0.7;
}

.hamburger.is-active:hover {
	opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 30px;
	height: 2px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -10px;
}

.hamburger-inner::after {
	bottom: -10px;
	width: 20px;
}


.hamburger--spin .hamburger-inner {
	transition-duration: 0.22s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
	transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
	transition: width 0.45s cubic-bezier(0.55, 0.055, 0.675, 0.19), bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
	transform: rotate(225deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
	bottom: 0;
	width: 30px;
	transform: rotate(-90deg);
	transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}



.loading {
	&:after {
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    content: "\f110";
	    animation: fa-spin .75s linear infinite;
	    height: 20px;
	    width: 20px;
	    line-height: 20px;
	    font-size: 20px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-left: -10px;
	    margin-top: -10px;
	    color: #999;
	    z-index: 2;
	}
}

.alert {
	font-size: 18px;
	color: #191919;
	padding-right: 20px;
}